<!-- <div class="container">
  <h1>Post Form</h1>
  <input type="text" placeholder="Post title" [(ngModel)]="title" />
  <textarea
    name=""
    id=""
    cols="30"
    rows="10"
    placeholder="Post details"
    [(ngModel)]="details"
  ></textarea>
  <input type="text" placeholder="Post Image Url" [(ngModel)]="img" />
  <input type="text" placeholder="Post Url" [(ngModel)]="moreDetails" />
  <input type="checkbox" [(ngModel)]="background" />Add background
  <br />
  <br />
  <br />
  <img [src]="img" alt="" />
  <h1 [class.bg-yellow]="background">{{ title }}</h1>
  <h2>{{ details }}</h2>
  <a [href]="moreDetails" target="_blank">{{
    moreDetails ? "More Details" : ""
  }}</a>
</div> -->
<!-- <ul>
  <li *ngFor="let post of postArray">{{ post }}</li>
</ul> -->
<!-- <div *ngIf="userArray.length > 0; else noData">
  <ul>
    <li *ngFor="let user of userArray; let i = index" (click)="onDelete(i)">
      {{ user.name }}
    </li>
  </ul>
</div>
<ng-template #noData>
  <p>No Users Available</p>
</ng-template>
<button (click)="addNew()">Add New</button> -->

<!-- <button (click)="onClick('step 1')">Step 1</button>
<button (click)="onClick('step 2')">Step 2</button>
<button (click)="onClick('step 3')">Step 3</button>

<button (click)="toggle()">Toggle</button>
<h2
  [ngStyle]="{
    color: isActive && 'red'
  }"
>
  Franklin
</h2>
<div [ngSwitch]="stepForm">
  <p *ngSwitchCase="'step 1'">Step one form</p>
  <p *ngSwitchCase="'step 2'">Step two form</p>
  <p *ngSwitchCase="'step 3'">Step three form</p>
  <p *ngSwitchDefault>Something else</p>
</div> -->

<div class="container">
  <h1>User details</h1>
  <input type="text" placeholder="Enter name" [(ngModel)]="name" />
  <input type="text" placeholder="Enter email" [(ngModel)]="email" />
  <textarea
    name=""
    id=""
    cols="30"
    rows="10"
    placeholder="Enter address"
    [(ngModel)]="address"
  ></textarea>
  <button (click)="onAdd()">Save data</button>
  <div *ngIf="userList.length > 0; else noUsers">
    <table>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Action</th>
      </tr>
      <!-- <div *ngFor="let user of userList; let i = index"> -->
      <tr *ngFor="let user of userList; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.address }}</td>
        <td (click)="onDelete(i)"><button>Delete</button></td>
      </tr>
      <!-- </div> -->
    </table>
  </div>

  <ng-template #noUsers>
    <p>No users available</p>
  </ng-template>
</div>

<!-- 
  <tr>
    <td>daf</td>
    <td>hi</td>
    <td>ad</td>
    <td>daf</td>
    <td>Delete</td>
  </tr>
  <tr>
    <td>daf</td>
    <td>hi</td>
    <td>ad</td>
    <td>daf</td>
    <td>Delete</td>
  </tr> -->
