<!-- <div class="container">
  <h1>Post Form</h1>
  <input type="text" placeholder="Post title" [(ngModel)]="title" />
  <textarea
    name=""
    id=""
    cols="30"
    rows="10"
    placeholder="Post details"
    [(ngModel)]="details"
  ></textarea>
  <input type="text" placeholder="Post Image Url" [(ngModel)]="img" />
  <input type="text" placeholder="Post Url" [(ngModel)]="moreDetails" />
  <input type="checkbox" [(ngModel)]="background" />Add background
  <br />
  <br />
  <br />
  <img [src]="img" alt="" />
  <h1 [class.bg-yellow]="background">{{ title }}</h1>
  <h2>{{ details }}</h2>
  <a [href]="moreDetails" target="_blank">{{
    moreDetails ? "More Details" : ""
  }}</a>
</div> -->
<!-- <ul>
  <li *ngFor="let post of postArray">{{ post }}</li>
</ul> -->
<!-- <div *ngIf="userArray.length > 0; else noData">
  <ul>
    <li *ngFor="let user of userArray; let i = index" (click)="onDelete(i)">
      {{ user.name }}
    </li>
  </ul>
</div>
<ng-template #noData>
  <p>No Users Available</p>
</ng-template>
<button (click)="addNew()">Add New</button> -->

<!-- <button (click)="onClick('step 1')">Step 1</button>
<button (click)="onClick('step 2')">Step 2</button>
<button (click)="onClick('step 3')">Step 3</button>

<button (click)="toggle()">Toggle</button>
<h2
  [ngStyle]="{
    color: isActive && 'red'
  }"
>
  Franklin
</h2>
<div [ngSwitch]="stepForm">
  <p *ngSwitchCase="'step 1'">Step one form</p>
  <p *ngSwitchCase="'step 2'">Step two form</p>
  <p *ngSwitchCase="'step 3'">Step three form</p>
  <p *ngSwitchDefault>Something else</p>
</div> -->
<!-- 
<div class="container">
  <h1>User details</h1>
  <input type="text" placeholder="Enter name" [(ngModel)]="name" />
  <input type="text" placeholder="Enter email" [(ngModel)]="email" />
  <textarea
    name=""
    id=""
    cols="30"
    rows="10"
    placeholder="Enter address"
    [(ngModel)]="address"
  ></textarea>
  <button (click)="onAdd()">Save data</button>
  <div *ngIf="userList.length > 0; else noUsers">
    <table>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Action</th>
      </tr>

      <tr *ngFor="let user of userList; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.address }}</td>
        <td (click)="onDelete(i)"><button>Delete</button></td>
      </tr>

    </table>
  </div>

  <ng-template #noUsers>
    <p>No users available</p>
  </ng-template>
</div> -->

<!-- <h1>{{ title | summary }}</h1> -->
<!-- <app-post></app-post> -->
<!-- <button (click)="onAdd()">Add</button>
<ul>
  <li *ngFor="let list of listing">{{ list.title }}</li>
</ul> -->

<!-- <div class="container mt-5">
  <div class="form-area">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div class="form-group">
        <label>First name</label>
        <input
          type="text"
          placeholder="Enter firstname"
          class="form-control"
          name="firstName"
          ngModel
          #firstName="ngModel"
          (change)="getValue(firstName)"
          required
          [ngClass]="{ 'is-invalid': firstName.touched && firstName.invalid }"
          minlength="5"
          maxlength="10"
        />

        <div *ngIf="firstName.errors?.['required']">
          <div
            class="alert alert-danger mt-2"
            *ngIf="firstName.touched && firstName.invalid"
          >
            Please enter your first name
          </div>
        </div>
        <div *ngIf="firstName.errors?.minlength">
          <div
            class="alert alert-danger mt-2"
            *ngIf="firstName.touched && firstName.invalid"
          >
            First name must be at least 5 characters long
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Email </label>
        <input
          type="email"
          placeholder="Enter email"
          class="form-control"
          name="email"
          ngModel
          #email="ngModel"
          pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
          required
          [ngClass]="{ 'is-invalid': email.touched && email.invalid }"
        />
        <div *ngIf="email.errors?.required">
          <div
            class="alert alert-danger mt-2"
            *ngIf="email.touched && email.invalid"
          >
            Please enter your email
          </div>
        </div>
        <div *ngIf="email.errors?.pattern">
          <div
            class="alert alert-danger mt-2"
            *ngIf="email.touched && email.invalid"
          >
            Invalid email
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Address </label>
        <textarea
          cols="30"
          rows="10"
          placeholder="Enter Address"
          class="form-control"
          name="address"
          ngModel
          required
          #address="ngModel"
          [ngClass]="{ 'is-invalid': address.touched && address.invalid }"
        ></textarea>
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="f.invalid">
        Submit
      </button>
    </form>
  </div>
</div> -->

<div class="container mt-5">
  <h2 class="display-3 danger text-center">Reactive Forms</h2>
  <div class="form-area">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>First name</label>
        <input
          type="text"
          placeholder="Enter firstname"
          class="form-control"
          name="firstName"
          formControlName="firstName"
        />
        <div *ngIf="firstName.touched && firstName.invalid">
          <div
            class="alert alert-danger mt-2 py-2"
            *ngIf="firstName.errors?.required"
          >
            Please enter your first name
          </div>
          <div
            class="alert alert-danger mt-2"
            *ngIf="firstName.errors?.minlength"
          >
            First name must be at least 5 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Email </label>
        <input
          type="email"
          placeholder="Enter email"
          class="form-control"
          name="email"
          formControlName="email"
        />
        <div *ngIf="email.touched && email.invalid">
          <div
            class="alert alert-danger mt-2 py-2"
            *ngIf="email.errors?.required"
          >
            Please enter your email
          </div>
          <div class="alert alert-danger mt-2" *ngIf="email.errors?.email">
            Invalid email
          </div>
        </div>
      </div>
      <div formGroupName="contactDetails">
        <div class="form-group">
          <label>Address </label>
          <textarea
            cols="30"
            rows="10"
            placeholder="Enter Address"
            class="form-control"
            name="address"
            formControlName="address"
            [ngClass]="{ 'is-invalid': address.touched && address.invalid }"
          ></textarea>
          <div *ngIf="address.touched && address.invalid">
            <div
              class="alert alert-danger mt-2 py-2"
              *ngIf="address.errors?.required"
            >
              Please enter your address
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Contact </label>
          <input
            type="text"
            placeholder="Enter contact"
            class="form-control"
            name="contact"
            formControlName="contact"
          />
          <div *ngIf="contact.touched && contact.invalid">
            <div
              class="alert alert-danger mt-2 py-2"
              *ngIf="contact.errors?.required"
            >
              Please enter your contact
            </div>
          </div>
        </div>
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="form.invalid">
        Submit
      </button>
    </form>
  </div>
</div>
