/* .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 1em;
}
.bg-yellow {
  background-color: yellow;
} */
/* .form-control.ng-touched.ng-invalid {
  border: 2px solid red;
} */
